<<<<<<< HEAD
<h1><%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<p>ISBN: <%= @book.isbn %></p>
<% if @book.available? %>
  <%= button_to "Borrow", borrowings_path(book_id: @book.id), method: :post %>
<% else %>
  <p>This book is currently unavailable.</p>
<% end %>
=======
<div>
  <h1 class="font-bold text-4xl">Books#show</h1>
  <p>Find me in app/views/books/show.html.erb</p>
</div>
>>>>>>> bc5036a (Dashboard, borrowing page)
